body {
    background-image: url("https://cdn.wallpapersafari.com/89/47/eykE06.gif");
    background-size: cover;
    text-align: center;
    
}

body header { 
    color: white;
}

.f-title {
    text-align: center; 
    font-size: 30px; 
    color: red;

}
.psc{margin: auto;
    display:block;
     width:250px;
      border-radius: 50%;

}
h3 {
    color:  red
}

main ul {
    list-style-type: none;
}

.first-title {
    text-align: center;
    font-size: 25px;
    color: white;
}
img {
margin: auto;display: block; width: 250px; border-radius: 50%;
}

p { 
    color: rgb(5, 255, 255);
    margin: 10px 20px 10px 20px; 
    
}
footer{
    color: white;
}
footer ul {
    list-style-type: none;
}
